#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.App {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.App form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.decks {
    display: grid;
    width: 600px;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.decks li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 130px;
    border: solid 1px black;
    border-radius: 10px;
    font-weight: 600;
}

.decks li:hover {
    background: rgb(218, 214, 214);
    cursor: pointer;
}
